/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target = <&i2c2>;
        __overlay__ {
            status = "okay";
            oled1: oled@3c {
                compatible = "ssd1306";
                reg = <0x3c>;
                reset-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
                width = <128>;
                height = <32>;
                rotate = <0>;
            };
            oled2: oled@3d {
                compatible = "ssd1306";
                reg = <0x3d>;
                reset-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
                width = <128>;
                height = <32>;
                rotate = <0>;
            };
        };
    };
};
