&i2c0 {
    status = "okay";
    ssd1306_0: ssd1306@3C {
        compatible = "solomon,ssd1306fb";
        reg = <0x3C>;
        label = "SSD1306";
        width = <128>;
        height = <32>;
    };
};

&zephyr_display {
    status = "okay";
    label = "SSD1306";
};
