/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target = <&i2c0>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            zephyr {
                compatible = "zephyr,display";
                label = "ssd1306";
                status = "okay";
                spi-max-frequency = <1000000>;
                width = <128>;
                height = <32>;
                rotation = <0>;
                controller = <&oled_controller>;
                dc-gpios = <&gpio1 10 0>;
                reset-gpios = <&gpio1 11 0>;
            };
        };
    };
};

